body
{
    background-color: black;
}
.custom-shape-divider-bottom-1675855022 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1675855022 svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 305px;
}

.custom-shape-divider-bottom-1675855022 .shape-fill {
    fill: #FFFFFF;
}